@using Kendo.Mvc.UI
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryajax")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/kendo")
    @Styles.Render("~/Content/kendo/kendo.bootstrap.min.css")
    @Styles.Render("~/Content/photoswipe")
    @Styles.Render("~/Content/custom")
    
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/photoswipe")

</head>
<body>
    <div id="wrapper">
        <div class="overlay"></div>

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Photos
                    </a>
                </li>
                <li>
                    <a href="~/">Home</a>
                </li>
                <li>
                    <a href="~/Albums">Albums</a>
                </li>
                <li class="dropdown">                    
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">                        
                        <li><a href="~/Admin/Album">Albums</a></li>                        
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                <span class="hamb-top"></span>
                <span class="hamb-middle"></span>
                <span class="hamb-bottom"></span>
            </button>
            <div class="container">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
@*<div class="container body-content">*@
@*    *@
@*    <hr/>*@
@*    <footer>*@
@*        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
@*    </footer>*@
@*</div>*@

<script>
    $(document).ready(function () {
        var trigger = $('.hamburger'),
            overlay = $('.overlay'),
           isClosed = false;

        trigger.click(function () {
            hamburger_cross();
        });

        function hamburger_cross() {

            if (isClosed == true) {
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
            } else {
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
            }
        }

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
        });
    });
</script>

@RenderSection("scripts", required: false)
</body>
</html>
